nltk
pytest
sacremoses
six
torch
ftfy
scipy
h5py
spacy
sentencepiece
tqdm
requests
matplotlib
botocore
absl_py
numpy
psutil
regex
boto3
apex
fairseq
GitPython
jieba
mock
ptvsd
pythainlp
scikit_learn
seqeval
tensorboardX
tensorflow
tensorflow_datasets
transformers
